// COLORS
$color-primary: #95f386;

$color-secondary-light: #23a7dd;

$color-grey: #a8a8a8; /* navbar */
$color-grey-dark: #6f6f6f; /* placeholder */

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
