// COLORS
$color-primary: #95f386;

$color-secondary-light: #23a7dd;

$color-grey: #a8a8a8;
$color-grey-light: #edebe3;
$color-grey-dark-1: #6f6f6f;
$color-grey-dark-2: #343434;
$color-grey-dark-3: #222222;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem; // 16px
