.title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 10rem;
}

.about {
  &__content-left,
  &__content-right {
    width: 50%;
    float: left;
  }

  &__content-right {
    .about__icon {
      width: 9.5rem;
      margin-right: 14rem;
      margin-top: 6rem;
    }
  }

  &__subtitle {
    font-size: 9.6rem;
    color: $color-grey-light;
  }

  &__text {
    font-family: "CourierPrime", sans-serif;
    font-size: 2rem;
    color: $color-grey-light;
    margin-top: 3rem;
    margin-right: 5rem;
  }
}

.about--section-1 {
  height: 71rem;
}

.about--section-2 {
  border: 1px solid $color-primary;
  border-radius: 4rem;
  height: 50rem;
  margin-top: 10rem;

  .about__content-left {
    .about__icon {
      width: 19rem;
    }
  }

  .about__icon-1 {
    transform: translateY(-43%) translateX(-18%);
  }

  .about__icon-2 {
    transform: translateY(75%) translateX(75%);
  }

  .about__icon-3 {
    transform: translateY(186%) translateX(70%);
  }

  .about__content-right {
    margin-top: 7rem;
  }

  .about__subtitle,
  .about__text {
    margin-left: 7rem;
  }
}

.about--section-3 {
  margin-top: 30rem;

  .about__content-left {
    float: none;
  }

  .team {
    margin-top: 8rem;

    &__card {
      display: inline-block;
      width: 34.4rem;
      height: 56.7rem;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }

      &-header {
        width: 34.4rem;
        height: 34.4rem;
        border: 2px dashed $color-primary;
        text-align: center;

        .team__icon {
          width: 20rem;
          height: 20rem;
          margin-top: 20%;
        }
      }

      &-body {
        margin-top: 5rem;

        .team__name {
          font-size: 3.2rem;
          color: $color-grey-light;
        }

        .team__position {
          font-size: 1.6rem;
          color: $color-grey;
        }

        .team__text {
          font-family: "CourierPrime", sans-serif;
          margin-top: 1rem;
          font-size: 1.6rem;
          color: $color-grey-light;
        }
      }

      &-footer {
        margin-top: 3rem;

        .team__social-icon {
          width: 2.6rem;
          height: 2.6rem;
          margin-right: 1.3rem;
        }
      }
    }
  }
}
