.nav {
  margin: 3.7rem 5rem;
  height: 2.8rem;

  display: grid;
  grid-template-columns: 1fr auto;

  &__logo-box {
    position: relative;
  }

  &__logo {
    height: 2.6rem;
  }

  &__title {
    font-size: 2rem;
    display: inline-block;
    margin-left: 1rem;
  }

  &__list {
    font-family: "CourierPrime", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    font-size: 2rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    color: $color-grey;
    text-decoration: none;
    padding: 0 1.2rem;
    position: relative;

    &::before {
      content: "[";
      position: absolute;
      opacity: 0;
      transition: transform 0.6s;
      transform: translateX(-1.2rem);
    }

    &::after {
      content: "]";
      position: absolute;
      opacity: 0;
      transition: transform 0.6s;
      transform: translateX(0);
    }

    &:hover {
      color: $color-primary;

      &::before {
        transform: translateX(-1.7rem);
        opacity: 1;
      }

      &::after {
        transform: translateX(0.5rem);
        opacity: 1;
      }
    }

    &--active {
      color: $color-primary;

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}
