@font-face {
  font-family: "AutonomaDisplayBold";
  src: url("../../css/fonts/autonomadisplay-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AutonomaDisplayBoldItalic";
  src: url("../../css/fonts/autonomadisplay-bolditalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AutonomaDisplayBold", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
}
