.news {
  &__title {
    font-size: 6.4rem;
    font-weight: 700;
  }

  .cards__section {
    display: grid;
    margin-top: 5rem;
  }

  .card {
    color: $color-grey-light;
    padding: 3rem 0;
    border-bottom: 1px solid rgba($color-primary, 0.3);

    &__title {
      font-size: 3.6rem;
    }

    &__text {
      font-size: 1.6rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
      max-width: 90%;
      font-family: "CourierPrime", sans-serif;
    }

    &__badges {
      display: grid;
      grid-template-columns: auto auto auto 1fr;
      column-gap: 2.6rem;
    }

    &__badge {
      font-family: "CourierPrime", sans-serif;
      font-size: 1.4rem;
      padding: 0.8rem 0.5rem;

      display: flex;
      align-items: center;
      column-gap: 0.6rem;

      &-text {
        margin-top: 0.2rem;
      }

      &--likes,
      &--dislikes {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 1rem;
      }

      &--likes {
        color: $color-grey-dark-2;
      }

      &--dislikes {
        background-color: $color-grey-dark-4;
        color: $color-primary;
      }

      &--time,
      &--date {
        color: $color-grey;
      }
    }
  }
}
